#loader {
     width: 50px;
    height: 50px;
    /* border: 5px solid #ccc;
    border-top-color: #ff6a00; */
    border-radius: 100%; 
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    margin: auto;
    animation: round 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: #f4f4f4 !important;
  position: relative;
  margin: 0;
  min-height: 100%;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

#std-footer {
  background-color: #34343c;
  width: 100%;
  height: 150px;
  /*position: absolute;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*margin: 0 auto;*/
}

body .navbar {
  background-color: #34343c;
  border: none;
  margin: 0px;
  padding-left: 50px;
  padding-right:50px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.center-div {
  margin: auto;
}

.inline {
  display: inline;
}

.icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rounded-borders {
  border-radius: 4px;
}

.bottom-margin-md {
  margin-bottom: 20px;
}



.full-width {
  width: 100% !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.square-corners {
	border-radius: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
    margin: 0px;
}

footer img {
  margin-bottom: 5px;
}
.splash-dashboard-link {
  color: white !important;
  float: right;
  margin: 0;
}

.jumbotron {
	height: 500px;
  	background: #ffaf4b;
  background: -moz-linear-gradient(top, #ffaf4b 0%, #ffaf4b 3%, #ffa741 26%, #fc7e0f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffaf4b), color-stop(3%, #ffaf4b), color-stop(26%, #ffa741), color-stop(100%, #fc7e0f));
  background: -webkit-linear-gradient(top, #ffaf4b 0%, #ffaf4b 3%, #ffa741 26%, #fc7e0f 100%);
  background: -o-linear-gradient(top, #ffaf4b 0%, #ffaf4b 3%, #ffa741 26%, #fc7e0f 100%);
  background: -ms-linear-gradient(top, #ffaf4b 0%, #ffaf4b 3%, #ffa741 26%, #fc7e0f 100%);
  background: linear-gradient(to bottom, #ffaf4b 0%, #ffaf4b 3%, #ffa741 26%, #fc7e0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#fc7e0f', GradientType=0 );
}

.login-container {
	margin-top: 50px;
  padding-bottom: 200px;
}

.button-box {
  position: relative;
  width: 100%;
  height: 50px;
}

.login-btn {
	 -webkit-border-radius: 28;
  	-moz-border-radius: 28;
  	border-radius: 28px;
  	width: 200px;
  	color: #fc7e0f;
  	font-size: 20px;
  	background: #f4f4f4;
  	padding: 3px 20px 3px 20px;
  	border: solid #fc7e0f 2px;
  	text-decoration: none;
    position: absolute;
    right: 10px;
}

.signup-btn {
  -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    width: 200px;
    color: #fc7e0f;
    font-size: 20px;
    background: #f4f4f4;
    padding: 3px 20px 3px 20px;
    border: solid #fc7e0f 2px;
    text-decoration: none;
    position: absolute;
    left: 10px;
}

.login-btn:hover {
  background: #fc7e0f;
  color: white;
  text-decoration: none;
}

.feature-box {
	background-color: white;
	padding: 10px 20px 10px 20px;
	margin-left: 10px;
  margin-bottom: 20px;
	margin-right: 10px;
}

.feature-box h3 {
	margin-top: 7px;
	font-weight: bold;
}

.movie-poster {
    display: inline;
    margin: 0px;
}
  
.poster {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.dashboard-header {
  background-color: #eeeeee;
  height: 75px;
}

.dashboard-header h1 {
  margin-top: 0px;
  padding-top: 18px;
  padding-left: 43px;
  font-weight: bold;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    /*height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;*/
} 
/*.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-top: 9px
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */

.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;

}

#search {
	padding-top: 3px;
} */

/**************** search results page *******************/
.search-results {
	background-color: #f4f4f4;
}

.search-res-sm {
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
  width: 200px;
  padding: 0px;
  margin-bottom: 20px;
  display: inline-block;
  margin: 20px;
}

.sm-res-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  
  overflow: hidden;
  display: inline-block;
}

.sm-res-info {
  height: 150px;
  width: 200px !important;
  padding: 10px;
}

.sm-res-info h3, .sm-res-info h4 {
  margin: 0px;
}



.shadow-box {
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.2);
}

.result-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #fc7e0f;
  font-size: 20px;
  background: white;
  padding: 3px 20px 3px 20px;
  border: solid #fc7e0f 2px;
  text-decoration: none;
}

.result-btn:hover {
  background: #ffffff;
  text-decoration: none;
}

.result-box {
	background-color: #ffffff;
	padding-left: 0px !important;
	margin-bottom: 40px;
}

.result-box div {
	display: inline !important;
}

.result-box img {
	max-width: 233px;
	display: inline;
}

.result-box div h3 {
	margin-top: 15px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.logo {
  height: 320px;
  padding-top: 5px;
}

.logo-img {
  margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border: 3px solid #666666;
}

.modal-content {
  background-color: #ccc;
  margin: 15% auto;
  padding: 20%;
  border: 1px solid #888;
  width: 80%;
}

/*.close {
    background-color: #f44336;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid #666666;
    cursor: pointer;
    width: 80%;
}

.close:hover,
.close:focus {
  opacity: 0.8;
}*/

/**** detail page ***/
.detail-page img {
  /*filter:blur(50px);*/
  /*background-color: #14181c;*/
}

.detail-page .info {
  background-color: #f1f1f1;

}

.movie-banner {
  /*background-color: #34343c;*/
  /*filter:blur(50px);*/
  /*background-size: cover;*/
  color: white;
  height: 575px;
}


.compact-movie-info {
  position: relative;
  height: 575px;
  width: 100%;
  color: white;
}

.compact-movie-info .left {
  padding: 10px;
  position: absolute;
  width: 50%;
  left: 0;
}

.compact-movie-info .right {
  padding: 10px;
  position: absolute;
  width: 50%;
  right: 0;
}

.compact-movie-info img {
  display: block; 
  /*position: absolute;*/
  /*height: 85%;*/
  border-radius: 4px;
  margin: auto;
}


#watchlist-dropdown {
  background-color: #fc7e0f;
  border-color: #fc7e0f;
}

#dropdown-toggle {
  background-color: #fc7e0f;
  border-color: #fc7e0f;
}

.dropdown-menu {
  color: #34343c;
  padding-left: 5px !important;
}

.background-image {
  position: absolute;
  filter: blur(60px);
  z-index: -1;
}

.movie-banner .movie-title {
  display: inline;
  font-size: 38px;
}

.movie-banner .movie-overview {
  font-size: 18px;
}

.movie-banner .release-year {
  display: inline;
  font-size: 18px;
}

.movie-banner-pad {
  margin-top: 40px;
}

.page-bottom {
  background-color: #ffffff;
  /*height: 900px !important;*/
}

/*** modal stuff ***/

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/****** SIGNUP MODAL ******/
.signupmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.signupmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.signupmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.signupmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.signupmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.signupmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.signupmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.signupmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.signupmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.signup-help{
  font-size: 12px;
}

/********* dashboard *********/
.content small{
  color: #fc7e0f;
  /*background-color: #34343c;*/
}


/****** footer ******/

.footerlogo {
  position: relative;
  margin-top: 20px;
}

.row-center-social {
  color: white;
  font-size: 10px;
  position: relative;
  padding-top: 10px;
}

#disclaimer {
  position: relative;
  margin-top: -2px;
}

.white-text {
  color: white;
}

.posterdiv {
  display: inline-block;
  position: relative;
  height: 273px !important;
  width: 182px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 7px;
  margin-right: 3px; 
  margin-left: 3px;
}

.poster-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  /*background color: rgba(0, 0, 0, 0);*/
  opacity: 0;
  transition: background 0.3s ease;
}

.view-movie {
  position: absolute;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 80%;
  opacity: 0;
  /*margin: 0px, 18.2px, 0px, 18.2px !important;*/
  left: 18px;
  top: 87px;
}

.remove-movie {
  position: absolute;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 80%;
  opacity: 0;
  /*margin: 0px, 18.2px, 0px, 18.2px !important;*/
  left: 18px;
  top: 150px;
}

.view-movie h4 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.remove-movie h4 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.posterdiv:hover .poster-overlay {
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.9);
}

.posterdiv:hover .view-movie {
  opacity: 1;
}

.posterdiv:hover .remove-movie {
  opacity: 1;
  cursor:pointer;
}


.cast-container {
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: 300px;
}

.personCard {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  height: 325px;
  width: 166px;
  display: inline-block;
}

.photo-box {
  position: absolute;
  width: 166px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.personCard h4 {
  position: absolute;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  bottom: 40px;
}

.personCard p {
  position: absolute;
  display: inline-block;
  margin-left: 15px;
  top: 275px;
}

.more-info {
  display: block;
  height: 50px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background-color: #ffffff;
}

.more-info h3 {
  margin-top: 12px;
}

.orange-text {
  color: #fc7e0f;
}

.orange-button {
  text-align: center;
  background-color: transparent;
  color: #fc7e0f;
  border: 2px solid #fc7e0f;
  border-radius: 5px;
}

.orange-button:hover {
  background-color: #fc7e0f;
  color: white;
  cursor: pointer;
}

.movie-nav {
  width: 80%;
  margin: auto;
  margin-bottom: 7px;
}

.orange-button-solid {
  text-align: center;
  background-color: #fc7e0f;
  color: white;
  border: 2px solid #fc7e0f;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-bottom: 7px;
}

.orange-button-solid:hover {
  cursor: pointer;
}

.content {
  padding-bottom: 200px;
}

.list-pad {
  padding-left: 28px;
}

.hover-white:hover {
  color: white !important;
}


#navbar-search-field {
  background-color: #34343c;
  border-color: #999999;
  color: white;
}